[project]
	description = Based on ChaOSLauncher by 0xD34D
[access "refs/*"]
	owner = group user/ljjehl (ljjehl)
[access "refs/for/refs/*"]
	read = group user/ljjehl (ljjehl)
	push = group user/ljjehl (ljjehl)
	label-Code-Review = -2..+2 group user/ljjehl (ljjehl)
	label-Verified = -1..+1 group user/ljjehl (ljjehl)
	rebase = group user/ljjehl (ljjehl)
	removeReviewer = group user/ljjehl (ljjehl)
	submit = group user/ljjehl (ljjehl)
[access "refs/heads/*"]
	read = group user/ljjehl (ljjehl)
	create = group user/ljjehl (ljjehl)
	push = +force group user/ljjehl (ljjehl)
	pushMerge = group user/ljjehl (ljjehl)
[access "refs/tags/*"]
	push = +force group user/ljjehl (ljjehl)
	pushTag = group user/ljjehl (ljjehl)
	pushSignedTag = group user/ljjehl (ljjehl)
